# Lending Club Case Study

## *Data Cleaning and Manipulation*

## Library Imports

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

### Load data from CSV

In [6]:
loan = pd.read_csv('C:\Ranjith\Project\Machine_Learning_AI_upgrad\Lending_Case_Study\loan.csv', low_memory=False)
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

### Find and drop off columns which are of same value throughout the entire rows

In [8]:
same_value_columns = loan.columns[loan.nunique()<=1].tolist()
print(same_value_columns)
null_columns_len=len(same_value_columns)
print('Total number of columns whch are of same value across all rows be it NA,NAN,0,1,INDIVIDUAL : ', null_columns_len)
loan.drop(columns=same_value_columns, inplace=True)
#print(loan)
loan.shape

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']
Total number of columns whch are of same value across all rows be it NA,NAN,0,1,INDIVIDUAL :  63

(39717, 48)

In [9]:
#Find duplicate rows
duplicates=loan.duplicated()
#Coumnt duplicate rows
total_duplicate_rows=duplicates.sum()
# Display the number of duplicate rows
print("\nNumber of duplicate rows:", total_duplicate_rows)
# Drop duplicate rows if any
loan.drop_duplicates(inplace=True)
loan.shape

Number of duplicate rows: 0

(39717, 48)

#### Find number of rows which has loan status as Current which means the loan installment is still in progress and drop such rows

In [11]:

Current_loan_rows=loan[loan['loan_status']=='Current']
print("\n Number of rows with loan status as Current :",len(Current_loan_rows))
loan.drop(Current_loan_rows.index,inplace=True)

loan.shape

 Number of rows with loan status as Current : 1140

(38577, 48)

In [12]:
# data related to id,member_id,emp_title,issue_d,url,desc,title,zip_code,addr_state dont add value
#print(loan)
remove_columns=['id','member_id', 
                          'emp_title', 'issue_d', 
                          'url', 'desc',
                          'title', 'zip_code', 'addr_state']
removed_columns=list(remove_columns)
#print(removed_columns)
loan.drop(columns=removed_columns,inplace=True)
loan.shape
#print(loan)

['id', 'member_id', 'emp_title', 'issue_d', 'url', 'desc', 'title', 'zip_code', 'addr_state']
       loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
0           5000         5000           4975.0   36 months   10.65%
1           2500         2500           2500.0   60 months   15.27%
2           2400         2400           2400.0   36 months   15.96%
3          10000        10000          10000.0   36 months   13.49%
5           5000         5000           5000.0   36 months    7.90%
...          ...          ...              ...         ...      ...
39712       2500         2500           1075.0   36 months    8.07%
39713       8500         8500            875.0   36 months   10.28%
39714       5000         5000           1325.0   36 months    8.07%
39715       5000         5000            650.0   36 months    7.43%
39716       7500         7500            800.0   36 months   13.75%

       installment grade sub_grade emp_length home_ownership  ...  \
0           162.87     B        B2  10+ years           RENT  ...
1            59.83     C        C4   < 1 year           RENT  ...
2            84.33     C        C5  10+ years           RENT  ...
3           339.31     C        C1  10+ years           RENT  ...
5           156.46     A        A4    3 years           RENT  ...
...            ...   ...       ...        ...            ...  ...
39712        78.42     A        A4    4 years       MORTGAGE  ...
39713       275.38     C        C1    3 years           RENT  ...
39714       156.84     A        A4   < 1 year       MORTGAGE  ...
39715       155.38     A        A2   < 1 year       MORTGAGE  ...
39716       255.43     E        E2   < 1 year            OWN  ...

       total_rec_prncp total_rec_int total_rec_late_fee recoveries  \
0              5000.00        863.16               0.00       0.00
1               456.46        435.17               0.00     117.08
2              2400.00        605.67               0.00       0.00
3             10000.00       2214.92              16.97       0.00
5              5000.00        632.21               0.00       0.00
...                ...           ...                ...        ...
39712          2500.00        322.97               0.00       0.00
39713          8500.00       1413.49               0.00       0.00
39714          5000.00        272.16               0.00       0.00
39715          5000.00        174.20               0.00       0.00
39716          7500.00       1695.26               0.00       0.00

       collection_recovery_fee  last_pymnt_d last_pymnt_amnt  next_pymnt_d  \
0                         0.00        Jan-15          171.62           NaN
1                         1.11        Apr-13          119.66           NaN
2                         0.00        Jun-14          649.91           NaN
3                         0.00        Jan-15          357.48           NaN
5                         0.00        Jan-15          161.03           NaN
...                        ...           ...             ...           ...
39712                     0.00        Jul-10           80.90           NaN
39713                     0.00        Jul-10          281.94           NaN
39714                     0.00        Apr-08            0.00           NaN
39715                     0.00        Jan-08            0.00           NaN
39716                     0.00        Jun-10          256.59           NaN

       last_credit_pull_d  pub_rec_bankruptcies
0                  May-16                   0.0
1                  Sep-13                   0.0
2                  May-16                   0.0
3                  Apr-16                   0.0
5                  Jan-16                   0.0
...                   ...                   ...
39712              Jun-10                   NaN
39713              Jul-10                   NaN
39714              Jun-07                   NaN
39715              Jun-07                   NaN
39716              Jun-10                   NaN

[38577 rows x 39 columns]

In [13]:
# Certain column data doesnt add value to data analysis hence can be dropped
remove_columns=['delinq_2yrs', 'earliest_cr_line', 
                          'inq_last_6mths', 'pub_rec', 
                          'revol_bal', 
                          'out_prncp', 'out_prncp_inv', 'total_pymnt', 
                          'total_pymnt_inv', 'total_rec_prncp', 
                          'total_rec_int', 'total_rec_late_fee', 'recoveries', 
                          'collection_recovery_fee', 'last_pymnt_d', 
                          'last_pymnt_amnt', 'last_credit_pull_d','next_pymnt_d','mths_since_last_record'

                          ]
removed_columns=list(remove_columns)
loan.drop(columns=removed_columns,  inplace=True)
loan.shape
print(loan)

       loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
0           5000         5000           4975.0   36 months   10.65%
1           2500         2500           2500.0   60 months   15.27%
2           2400         2400           2400.0   36 months   15.96%
3          10000        10000          10000.0   36 months   13.49%
5           5000         5000           5000.0   36 months    7.90%
...          ...          ...              ...         ...      ...
39712       2500         2500           1075.0   36 months    8.07%
39713       8500         8500            875.0   36 months   10.28%
39714       5000         5000           1325.0   36 months    8.07%
39715       5000         5000            650.0   36 months    7.43%
39716       7500         7500            800.0   36 months   13.75%

       installment grade sub_grade emp_length home_ownership  annual_inc  \
0           162.87     B        B2  10+ years           RENT     24000.0
1            59.83     C        C4   < 1 year           RENT     30000.0
2            84.33     C        C5  10+ years           RENT     12252.0
3           339.31     C        C1  10+ years           RENT     49200.0
5           156.46     A        A4    3 years           RENT     36000.0
...            ...   ...       ...        ...            ...         ...
39712        78.42     A        A4    4 years       MORTGAGE    110000.0
39713       275.38     C        C1    3 years           RENT     18000.0
39714       156.84     A        A4   < 1 year       MORTGAGE    100000.0
39715       155.38     A        A2   < 1 year       MORTGAGE    200000.0
39716       255.43     E        E2   < 1 year            OWN     22000.0

      verification_status  loan_status             purpose    dti  \
0                Verified   Fully Paid         credit_card  27.65
1         Source Verified  Charged Off                 car   1.00
2            Not Verified   Fully Paid      small_business   8.72
3         Source Verified   Fully Paid               other  20.00
5         Source Verified   Fully Paid             wedding  11.20
...                   ...          ...                 ...    ...
39712        Not Verified   Fully Paid    home_improvement  11.33
39713        Not Verified   Fully Paid         credit_card   6.40
39714        Not Verified   Fully Paid  debt_consolidation   2.30
39715        Not Verified   Fully Paid               other   3.72
39716        Not Verified   Fully Paid  debt_consolidation  14.29

       mths_since_last_delinq  open_acc revol_util  total_acc  \
0                         NaN         3     83.70%          9
1                         NaN         3      9.40%          4
2                         NaN         2     98.50%         10
3                        35.0        10        21%         37
5                         NaN         9     28.30%         12
...                       ...       ...        ...        ...
39712                     0.0        13     13.10%         40
39713                     5.0         6     26.90%          9
39714                     0.0        11     19.40%         20
39715                     0.0        17      0.70%         26
39716                    11.0         7     51.50%          8

       pub_rec_bankruptcies
0                       0.0
1                       0.0
2                       0.0
3                       0.0
5                       0.0
...                     ...
39712                   NaN
39713                   NaN
39714                   NaN
39715                   NaN
39716                   NaN

[38577 rows x 20 columns]

In [14]:
loan.columns.tolist()

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'loan_status',
 'purpose',
 'dti',
 'mths_since_last_delinq',
 'open_acc',
 'revol_util',
 'total_acc',
 'pub_rec_bankruptcies']

In [15]:
len(loan.columns.tolist())

20

In [16]:
#Dropping columns with majority of rows being the NULL values which doesnt help in Data Analysis
for col in loan.columns:
    missing_values = round(loan[col].isna().sum() / loan.shape[0], 2)
    if missing_values >= 0.50:
        loan.drop(col, axis = 1, inplace = True)
        print("\n Dropping Column since its majority of values are NA :",col)
        
loan.shape

 Dropping Column since its majority of values are NA : mths_since_last_delinq

(38577, 19)

In [18]:
# Data Type Conversion
loan = loan.astype({
    'dti': 'float',
    'funded_amnt' : 'float',
    'funded_amnt_inv' : 'float',
    'loan_amnt' : 'float'
})

# Convert term column to int type
loan['term'] = loan['term'].apply(lambda x: int(x.replace('months', '').strip()))

# Convert int_rate column to float type
loan['int_rate'] = loan['int_rate'].apply(lambda x: float(x.replace('%', '').strip()))

# Rounding of the values of below columns to two decimal places
for col in ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'dti']:
    loan[col] = loan[col].apply(lambda x: round(x, 2))

AttributeError: 'int' object has no attribute 'replace'